%link {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.root {
    .title {
        text-align: center;
        margin-bottom: 2rem;

        p {
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .logo {
        width: 7rem;
    }

    p {
        font-size: 1.2rem;
    }

    main {
        padding: 0 4rem;
    }

    form {
        margin-top: 1rem;
    }

    .disclaimer {
        font-size: 0.7rem;

        a {
            @extend %link
        }
    }

    .signInPrompt {
        text-align: center;

        a {
            @extend %link
        }
    }

    .error {
        color: red;
        margin-bottom: 1rem;
    }
}