.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
    background-color: white;
    height: 60px;
    list-style: none;

    .footerLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            width: 60px;
        }
    }

    a {
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        font-weight: 500;

        &:hover {
            color: var(--primary-color);
            text-decoration: underline;
        }
    }
}