spring:
  application:
    name: Linkedin

  datasource:
#    url: jdbc:postgresql://localhost:5433/linkedin_db
#    username: admin
#    password: admin123
    url: jdbc:postgresql://localhost:5432/linkedin_db
    username: postgres
    password: root123
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: example@mail.com
    password: "password"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  domain: http://localhost:8080