.root {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;

    .container {
        display: grid;
        grid-template-rows: auto 1fr;
        min-height: 100vh;
        gap: 1rem;
        padding: 2rem;
    }
}